body {
    background-color: silver;
}

#container {
    width: 800px;
    margin: auto;
    background-color: white;
}

header {
    padding: 40px;
    height: 80px;
}
header h1{
  font-size: 5em;
}
nav {
    padding: 8px 40px;
    background-color: red;
    color: papayawhip;
}

#contents{
    padding: 40px;
    height : 400px;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : black;
    color: white;
}
